<h1>Users</h1>
<br>
<form name="addForm">
  <div class="form-group">
    <label><h3>User Name</h3></label>
    <input type="text" id="first" class="form-control" ng-model="newUser.name" placeholder="User Name">
  </div>
  <button type="submit" class="btn btn-primary" ng-click="addUser()">Save User</button>
</form>

<hr><br>
<h4>Filter by Name:</h4>
<input type="text" ng-model='nameText'>
<br>
<div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users| filter:nameText">
        <td> {{ user.name }} </td>
        <td>
          <button type="button" name="edit-button" ng-click="editUser()" class="btn btn-success btn-xs">Edit</button>
          <button type="button" name="delete-button" ng-click="deleteUser()" class="btn btn-danger btn-xs">X</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
