<h1>{{ user.name }}, go ahead and pracice your translation skills below...</h1>
<br>
<div class="form-group">
  <label for="sel1">Starting Language:</label>
  <select ng-model="newWord.start" class="form-control" id="sel1">
    <option value="en">English</option>
    <option value="es">Spanish</option>
    <option value="fr">French</option>
  </select>
</div>
<div class="form-group">
  <label for="sel1">Ending Language:</label>
  <select ng-model="newWord.end" class="form-control" id="sel1">
    <option value="en">English</option>
    <option value="es">Spanish</option>
    <option value="fr">French</option>
  </select>
</div>
<div class="form-group">
  <label>Word to Translate:</label>
  <input type="text" class="form-control" ng-model="newWord.word" placeholder="Word to translate">
</div>
<button type="submit" class="btn btn-primary" ng-click="translate()">Translate!</button>

<hr>

<h3 class="text-center">Translated Word:</h3>
<h2 class="text-center">{{ word }}</h2>
