body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.panel-info>.panel-heading {
    color: white;
    background-color: rgb(46, 62, 79);
    border-color: rgb(46, 62, 79);
}

.panel-info {
    border-color: rgb(46, 62, 79);
}

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);

}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}

.table-user-information > tbody > tr > td {
    border-top: 0;
}

.toppad{
  margin-top:20px;
}

input {
  height: 100px;
  width: 500px;
  font-size: 30px;
}
.inputBox{
  margin:100px;

}

.list-inline{
  margin-top: 50px;
}
